<form [formGroup]="fileForm">
    <div class="panel-title">
        <div>Files</div>
        <div class="total">{{directory.used}} / {{directory.total}}</div>
        <mat-form-field appearance="fill">
            <mat-label>Source</mat-label>
            <mat-select [formControl]="fileSourceFc">
                <mat-option *ngFor="let source of fileSources" [value]="source">
                    {{source.Name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <div class="top-button-grid">
            <button type="button" class="start mat-warn" mat-raised-button [disabled]="!fileSelected()"
                (click)="StartFile()">Start</button>
            <div>{{directory.path}}</div>
            <button type="button" class="boundary" mat-raised-button [disabled]="!fileSelected()" (click)="getBoundaries()">Show boundary</button>
        </div>
        <mat-selection-list class="files" multiple="false" formControlName="selectedFile">
            <mat-list-option *ngFor="let file of pageFiles" [value]="file" (appDoubleClick)="enterDir(file)">
                <app-file-item [file]="file"></app-file-item>
            </mat-list-option>
        </mat-selection-list>
        <mat-paginator class="paginator" pageSize="10" [pageIndex]="pageIndex" [length]="directory.files.length"
            (page)="paginate($event)"></mat-paginator>
        <input #fileInput hidden type="file" (change)="uploadFile($event)">
        <div class="bottom-button-grid">
            <button type="button" class="upload" mat-raised-button (click)="upload()">Upload</button>
            <button type="button" class="create" mat-raised-button (click)="showCreateDirectory()">Create
                directory</button>
            <button type="button" class="delete mat-warn" mat-raised-button [disabled]="!canBeDeleted()"
                (click)="showDelete()">Delete</button>
        </div>
    </div>
</form>