.top-button-grid, .bottom-button-grid {
    display:grid;
    justify-content: space-between;
    background-color: #212121;
}

.top-button-grid{
    grid-template-columns: auto auto;
    margin-top: 5px;
}

.bottom-button-grid {
    display:grid;
    grid-template-columns: 150px auto 150px;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.files {
    height: 480px;
    grid-column: first;
    background-color: #212121;
}

.start {
    margin: 5px;
}

.upload {
    margin: 5px;
}

.create {
    margin: 5px;
}

.delete {
    margin: 5px;
}


.boundary {
    margin: 5px;
}

.total {
    font-size: medium;
}