<form [formGroup]="distanceForm">
  <div class="panel-title">Motion</div>
  <div class="panelgrid">
    <button type="button" mat-raised-button class="up" (click)="move(Axes.Y)">UP</button>
    <button type="button" mat-raised-button class="left" (click)="move(Axes.X,Directions.MINUS)" [disabled]="validMovementForZ()">LEFT</button>
    <button type="button" mat-raised-button class="mat-accent home" (click)="home()">HOME</button>
    <button type="button" mat-raised-button class="right" (click)="move(Axes.X)" [disabled]="validMovementForZ()">RIGHT</button>
    <button type="button" mat-raised-button class="down" (click)="move(Axes.Y,Directions.MINUS)">DOWN</button>

    <mat-checkbox class="axisselect" [formControl]="moveZFc">Move Z</mat-checkbox>

    <mat-button-toggle-group [formControl]="distanceFc" class="distance" name="distance" aria-label="distance">
      <mat-button-toggle class="tenth-step" value="0.1">0.1</mat-button-toggle>
      <mat-button-toggle class="one-step" value="1">1</mat-button-toggle>
      <mat-button-toggle class="ten-step" value="10">10</mat-button-toggle>
      <mat-button-toggle class="hundred-step" value="100">100</mat-button-toggle>
    </mat-button-toggle-group>

    <button type="button" mat-raised-button class="mat-warn on">On</button>
    <button type="button" mat-raised-button class="mat-accent off">Off</button>

  </div>
</form>