button {
    width: 100px;
}

.panelgrid {
    grid-template-areas: 
    'up up up axisselect'
    'left home right on'
    'down down down off'
    'distance distance distance distance';
    place-items: center;
}

.z{
    grid-area: title-z;
}
.up {
    grid-area: up;
}

.left {
    grid-area: left;
}

.home {
    grid-area: home;
}

.right {
    grid-area: right;
}

.down {
    grid-area: down;
}

.axisselect{
    grid-area: axisselect;
}
.on{
    grid-area: on;
}
.off{
    grid-area: off;
}
.distance{
    grid-area: distance;
}

.minus-tenth-step,.minus-one-step,.minus-ten-step,.minus-hundred-step,
.tenth-step,.one-step,.ten-step,.hundred-step{
    width:70px;
}

mat-button-toggle{
    border-top:1px solid gray;
    border-bottom:1px solid gray;
}
