.top-buttons {
    display: grid;
    place-items: center;
}

.middle-buttons {
    display: grid;
    grid-template-columns: 110px 140px 110px;
    grid-template-rows: repeat(2, auto);
    place-items: center;
}

.bottom-buttons {
    display: grid;
    place-items: center;
}

.controls-wrapper {
    display: flex;
    justify-content: center;
    background-color: #666666;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.rates {
    align-items: center;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: 167px;
}

.z,
.up,
.left,
.home,
.right,
.down,
.axisselect,
.feedrate {
    margin: 5px;
}

button {

    &.left,
    &.right {
        grid-row: span 2;
    }

    &.home {
        grid-row: 1;
        width: 130px;

        &.hard {
            grid-column: 2;
            grid-row: 1;
        }

        &.soft {
            grid-column: 2;
            grid-row: 2;
        }

        &.extended {
            grid-row: span 2;
        }
    }
}

@media all and (max-width:850px) {
    .controls-wrapper {
        flex-direction: column;
        align-items: center;
    }
}