<div class="panel-title">Set origin</div>
<div class="panelgrid">
    <button mat-raised-button class="x" (click)="setOrigin([Axes.X])">X</button>
    <button mat-raised-button class="y" (click)="setOrigin([Axes.Y])">Y</button>
    <button mat-raised-button class="z" (click)="setOrigin([Axes.Z])">Z</button>
    <button mat-raised-button class="xy" (click)="setOrigin([Axes.X,Axes.Y])">X/Y</button>
    <button mat-raised-button class="xyz" (click)="setOrigin([Axes.X,Axes.Y,Axes.Z])">X/Y/Z</button>
</div>