.panelgrid {
    grid-template-columns: repeat(5,auto);
    place-items: center;
    justify-content: center;
}

.x, .y, .z, .xy, .xyz {
    margin: 5px;
}

@media all and (max-width:850px) {
    .panelgrid {
        grid-template-columns: repeat(3, auto);
    }
}