<form [formGroup]="commandForm">
    <div class="panel-title">
        <div>Terminal</div>
        <mat-checkbox class="axisselect" [formControl]="autoscrollFc">Autoscroll</mat-checkbox>
    </div>
    <div>
        <mat-form-field class="window max" appearance="fill">
            <textarea matInput class="window" #window [formControl]="commandWindowFc"></textarea>
        </mat-form-field>
        <div class="auto">
            <mat-form-field appearance="fill" class="max">
                <mat-label>Command</mat-label>
                <input matInput type="text" placeholder="Command" aria-label="Number" matInput
                    [formControl]="commandInputFc" [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of filteredOptions" [value]="option.command">
                        {{option.command}} - {{option.description}}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>
        <button mat-raised-button class="send" [disabled]="hasCommand()" (click)="sendCommand()">Send</button>
    </div>
</form>