.panelgrid {
    grid-template-columns: repeat(3,110px);
    grid-template-areas:
        'on off unlock';
    place-items: center;
    justify-content: center;
}

.on {
    grid-area: on;
}

.off {
    grid-area: off;
}
.unlock{
    grid-area: unlock;
}