<mat-toolbar>
    <button mat-raised-button class="example-icon" class="mat-primary" aria-label="Example icon-button with menu icon" [matMenuTriggerFor]="menu">
        Menu
    </button>
    <span>DLC32-UI</span>
    <span class="spacer"></span>
    <button mat-raised-button class="example-icon favorite-icon" class="mat-primary" aria-label="Example icon-button with heart icon">
        Heart
    </button>
    <button mat-raised-button class="example-icon" class="mat-primary" aria-label="Example icon-button with share icon">
        Share
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <span>Disable alerts</span>
    </button>
  </mat-menu>