.grblpanel{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 5px;
    .grblsetting{
        display:flex;
        justify-content: space-between;
        flex-direction: column;
    }
}