/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.panel-title {
  background-color: #212121;
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

button {
  width: 100px;
}

.panelgrid {
  display: grid;
  gap: 5px;
  margin: 0px 0px 5px 0px;
  background-color: #666666;
  padding-bottom: 5px;
}

//remove material formfield reserved hint line
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.bottomsheet-title{
  margin:10px;
  border-bottom: 1px solid magenta;
}