/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  font: 400 14px/20px Roboto, sans-serif;
}

.panel-title {
  background-color: #212121;
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

button {
  width: 100px;
}

.panelgrid {
  display: grid;
  gap: 5px;
  margin: 0px 0px 5px 0px;
  background-color: #666666;
  padding-bottom: 5px;
}

.sheet-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid magenta;

  .bottomsheet-title {
    margin: 10px;
  }
}

//remove material formfield reserved hint line
.mat-mdc-form-field-hint-wrapper,
.mat-mdc-form-field-error-wrapper {
  padding: 0px;
}

mat-progress-bar {
  height: 10px;
}

mat-expansion-panel-header {
  &.mat-expansion-panel-header {
    padding: 0 10px 10px;
  }
}

div {
  .mat-expansion-panel-body {
    padding: 0 10px 10px;
  }
}

:root {
  --mdc-linear-progress-track-height: 10px;
}

app-terminal {
  mat-form-field {
    &.window {
      .mdc-text-field {
        padding: 0px;
      }
    }
  }
}