/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.panel-title {
    background-color: #212121;
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

button {
    width: 100px;
}

.panelgrid {
    display: grid;
    gap: 5px;
    margin: 5px;
    .panel-title{
        grid-area: title;
    }
    background-color: #666666;
    padding-bottom: 5px;
}
