<div class="panel-grid">
    <mat-accordion class="accordion">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Controls
                </mat-panel-title>
                <mat-panel-description>
                    Control options for laser like move, set origin etc.
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="controls-panel-grid">
                <app-xyz></app-xyz>
                <app-laser></app-laser>
                <app-general></app-general>
            </div>
        </mat-expansion-panel>
        <mat-expansion-panel expanded="true">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Files panel
                </mat-panel-title>
                <mat-panel-description>
                    Da files
                </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="files-panel-grid">
                <app-files></app-files>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <div>
        <app-progress></app-progress>
        <app-terminal></app-terminal>
    </div>
</div>