.files-panel-grid {
    display: grid;
    grid-template-areas: 
    'progress progress'
    'files terminal'
    ;
    gap: 5px;
}

.controls-panel-grid {
    display: grid;
    grid-template-areas: 
    'xyz general'
    ;
    gap: 5px;
}

app-progress {
    grid-area: progress;
}

app-xyz {
    grid-area: xyz;
}

app-general {
    grid-area: general;
}

app-files {
    grid-area:files;
}

app-terminal{
    grid-area: terminal;
}